<%= form_with scope: :weeks, url: weeks_path, local: true do |form| %>
  <div class="lessons">
    <table>
      <tr class="trr">
        <td>(Лаб) Курсова робота з `Об`єктно-орієнтоване програмування` Заспа Г.О.</td>
        <td>(Л) Системне програмування засобамі API Заспа Г.О.</td>
        <td>(Лаб) Об`єктно-орієнтоване програмування (друга мова) Метелап В.В.</td>
        <td>(Лаб) Програмування Web-додатків Метелап В.В.</td>
        <td>(Л) Об`єктно-орієнтоване програмування (друга мова) Метелап В.В.</td>
        <td>(Л) Програмування Web-додатків Метелап В.В.</td>
        <td>(ПрС) Іноземна мова (за професійним спрямуванням) Гречуха Л.О.</td>
        <td>(Лаб) Бази даних Катаєва Є.Ю.</td>
        <td>(Лаб) Системне програмування засобамі API Олексюк В.В.</td>
        <td>(ПрС) Розмовний практикум з ділової іноземної мови Чепурна М.В.</td>
        <td>(Лаб) Програмування мобільних додатків Гузнін С.С.</td>
        <td>(Лаб) Програмування мобільних додатків Гузнін С.С.</td>
        <td>(Л) Програмування мобільних додатків Гузнін С.С.</td>
      </tr>
    </table>
  </div>
    <div class="students">
      <p>1 Бабенко Діана</p>
      <p>2 Білоніг Анатолій</p>
      <p>3 Головко Ігор</p>
      <p>4 Гуназа Дмитро</p>
      <p>5 Жила Вадим</p>
      <p>6 Ільніцький Ярослав</p>
      <p>7 Комісаренко Назар</p>
      <p>8 Котенко Юлія</p>
      <p>9 Логвиненко Артем</p>
      <p>10 Мельник Ярослав</p>
      <p>11 Омельченко Богдан</p>
      <p>12 Пронкуров Богдан</p>
      <p>13 Рябокляч Богдан</p>
      <p>14 Солохудінов Ярослав</p>
      <p>15 Стороженко Анастасія</p>
      <p>16 Стрикаль Мирослав</p>
      <p>17 Усик Сергій</p>
      <p>18 Яценко Катерина</p>
    </div>

    <table>
      <tr>
        <th>
          <%= form.text_field :title, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title1, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title2, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title3, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title4, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title5, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title6, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title7, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title8, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title9, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title10, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title11, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title12, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title13, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title14, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title15, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title16, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title17, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title18, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title19, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title20, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title21, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title22, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title23, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title24, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title25, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title26, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title27, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title28, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title29, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title30, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title31, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title32, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title33, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title34, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title35, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title36, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title37, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title38, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title39, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title40, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title41, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title42, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title43, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title44, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title45, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title46, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title47, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title48, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title49, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title50, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title51, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title52, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title53, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title54, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title55, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title56, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title57, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title58, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title59, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title60, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title61, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title62, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title63, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title64, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title65, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title66, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title67, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title68, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title69, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title70, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title71, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title72, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title73, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title74, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title75, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title76, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title77, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title78, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title79, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title80, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title81, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title82, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title83, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title84, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title85, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title86, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title87, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title88, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title89, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title90, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title91, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title92, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title93, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title94, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title95, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title96, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title97, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title98, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title99, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title100, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title101, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title102, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title103, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title104, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title105, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title106, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title107, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title108, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title109, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title110, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title111, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title112, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title113, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title114, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title115, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title116, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title117, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title118, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title119, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title120, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title121, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title122, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title123, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title124, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title125, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title126, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title127, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title128, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title129, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title130, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title131, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title132, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title133, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title134, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title135, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title136, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title137, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title138, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title139, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title140, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title141, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title142, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title143, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title144, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title145, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title146, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title147, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title148, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title149, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title150, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title151, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title152, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title153, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title154, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title155, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title156, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title157, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title158, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title159, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title160, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title170, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title171, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title172, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title173, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title174, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title175, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title176, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title177, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title178, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title179, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title180, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title181, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title182, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title183, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title184, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title185, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title186, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title187, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title188, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title189, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title190, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title191, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title192, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title193, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title194, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title195, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title196, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title197, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title198, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title199, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title200, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title201, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title202, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title203, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title204, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title205, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title206, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title207, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title208, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title209, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title210, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title211, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title212, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title213, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title214, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title215, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title216, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title217, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title218, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title219, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title220, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title221, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title222, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title223, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title224, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title225, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title226, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title227, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title228, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title230, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title231, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title232, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title233, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title234, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title235, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title236, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title237, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title238, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title239, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title240, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title241, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title242, :maxlength => 2, :size => 1 %>
          <%= form.text_field :title243, :maxlength => 2, :size => 1 %>
        </th>
      </tr>
    </table>

  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>

